{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    

</head>

<body>
    {% block content %}
    <center>
        <div class="container">

            <h2 style="font-size: 50px;">Its not just a Coffee <br>Its <span style="color: #f05986;">Starbucks</span></h2>
            <p style="color: black; font-size: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor modi consequatur nulla, fugit odit rerum
                quaerat illo at! Nihil velit tempore debitis. Doloribus quasi perspiciatis fuga nulla aspernatur
                necessitatibus adipisci.
            </p>
            <p style="color: #f05986;font-size: 30px;">learn More</p>
        </div>
    </center>

    {% endblock %}
</body>

</html>